#ARGrid{
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
    max-width: 1050px;
    .cell-header{
        border-bottom: 2px solid #aaa;
        background-color: #f7f7f7;
        font-weight: bold;
		font-size: 13px;
		padding: 0 5px;
		border-right: 1px solid #eee;
		display: flex;
		align-items: center;
		justify-content: center;
		white-space: nowrap;
		text-overflow: ellipsis;
    	overflow: hidden;
    }
	.cell-body {
		font-size: 13px;
		padding: 0 5px;
		border-bottom: 1px solid #eee;
		border-right: 1px solid #eee;
		display: flex;
		align-items: center;
		justify-content: center;
		white-space: nowrap;
		text-overflow: ellipsis;
    	overflow: hidden;
    }
}

.gray {
    #ARGrid {
        box-shadow: 0px 1px 3px 0px #c8ced3, 0px 1px 1px 0px #c8ced3, 0px 2px 1px -1px #c8ced3 !important;

        .cell-header{
            color: #c8ced3 !important;
            border-color: #6f7985 !important;
            background: #3a4149 !important;
        }
        .cell-body {
            border-bottom: 1px solid #6f7985;
            border-right: 1px solid #6f7985;
        }
    }
}