@import '../../../../../../../node_modules/react-resizable/css/styles.css';
@import '../../../../../../../node_modules/react-grid-layout/css/styles.css';

.asset-recovery {
    .MyDragHandleClassName {
        cursor: move;
    }
    .asset-recovery-child {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background: #FFF;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
        padding: 20px;
        border: 1px solid #ccc;

        .asset-recovery-buttons {
            .btn-group {
                justify-content: center;
                display: flex;
            }
            button {
                border-radius: 4px !important;
                margin-right: 10px; 
            }
            button:last-child {
                margin-right: 0 !important;
            }
        }
    }
    .asset-recovery-child-body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .arcb-Input{
        width: calc(25% - 10px);
    }
}

$textColor: #c8ced3;
$headerColor: #FFC105;
$backgroundColor:#2e2e2e;

.gray {
    .asset-recovery-child {
        border: 1px solid #6f7985;
        background:$backgroundColor !important;
    }
    .asset-recovery-child-header {
        color: #FFC105 !important;
    }
    .react-grid-item > .react-resizable-handle::after {
        border-right: 2px solid #6f7985 !important;
        border-bottom: 2px solid #6f7985 !important;
    }
    .asset-recovery-child-body{
        input {
            background:$backgroundColor !important;
            background-color: $backgroundColor !important;
            border-color: #6f7985 !important;
            color: $textColor !important;
        }
    }
}