.DA-DepartmentLevelAccess {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
}
.DA-DLA{
    div.react-grid-layout > div:nth-child(1) {
        z-index: 10;
    }
    div.react-grid-layout > div:nth-child(2) {
        height: auto !important;
    }
    .MyDragHandleClassName {
        cursor: move;
    }
    .DA-DLA-child {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background: #FFF;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
        padding: 20px;
        border: 1px solid #ccc;
    }
    .DA-DLA-New {
        .DateInput_input__readOnly {
            height: 34px;
            font-size: 12px;
        }
        .DateRangePickerInput__withBorder{
            display: inline-flex;
            border-radius: 3px;
        }
        .DateRangePickerInput_arrow {
            padding-top: 4px; 
        }
        .DateInput{
            width: auto !important;
        }
    }

    .DA-DLA-Filters {
        width: 25%;
        padding-right: 10px;
    }

    div.DA-DLA-New > div:last-child {
        padding-right: 0 !important;
    }

    .DA-DLA-Results > table {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
        border-radius: 10px;
        
        // tr:hover {
        //     box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
        //     z-index: 1;
        // }
        tr>td, tr>th {
            padding: 10px 20px;
            text-align: center;
        }
    }
}

$textColor: #c8ced3;
$headerColor: #FFC105;
$backgroundColor:#2e2e2e;
$borderColor: #6f7985;
$hoverColor: #3a4149;

.gray {
    color: $textColor !important;
    background: $backgroundColor !important;
    border-color: $borderColor !important;
    
    .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
        color:$textColor !important;
    }
    .Select-control {
        background: $backgroundColor !important;
        border: 1px solid $borderColor !important;
    }
    .Select-placeholder {
        border-bottom: 1px solid #3a4149 !important;
    }
    .Select-menu-outer {
        border-color: #6f7985 !important;
        .Select-option, .VirtualizedSelectOption {
            &:hover {
                background-color: #3a4149 !important;
            }
        }
    }
    .Select-arrow {
        border-color: $textColor transparent transparent !important;
        border-style: solid;
        border-width: 5px 5px 2.5px;
        display: inline-block;
        height: 0;
        width: 0;
        position: relative;
    }
    .Select.is-open > .Select-control .Select-arrow {
        top: -2px;
        border-color: transparent transparent $textColor !important;
        border-width: 0 5px 5px;
    }
    .Select.is-open > .Select-arrow, .Select .Select-arrow-zone:hover > .Select-arrow {
        border-top-color: $textColor !important;
    }
    .filters .checkbox-filter .checkbox-val label input:hover ~ span,
    .filters .checkbox-filter .checkbox-val label input:checked ~ span {
        background-color: #3a4149 !important;
    }
    .filters .checkbox-filter.show-menu,
    .filters .checkbox-filter .checkbox-val label input {
        border: 1px solid $borderColor !important;
        background-color: $backgroundColor !important;
    }
    .DateRangePickerInput_arrow {
        background-color: $backgroundColor !important;
    }
    .DateRangePickerInput_arrow_svg {
        fill: $textColor !important;
    }

    .DA-DLA-New{
        input {
            background:$backgroundColor !important;
            background-color: $backgroundColor !important;
            border-color: $borderColor !important;
            color: $textColor !important;
        }
        .DateRangePickerInput__withBorder {
            border: 1px solid $borderColor;
        }
    }
    .DA-DLA .DA-DLA-New .DateInput_input__readOnly {
        border-bottom: none;
    }

    .DA-DLA-New .displaySelectedField {
        color: $textColor !important;
    }

    .DA-DLA {
        background:$backgroundColor !important;
        background-color: $backgroundColor !important;
        border-color: #6f7985 !important;
        color: $textColor !important;
    
        .DA-DLA-child {
            border: 1px solid #6f7985;
            background:$backgroundColor !important;
        }
        .dla-child-header {
            color: #FFC105 !important;
        }

        .DA-DLA-Results > table {
            margin-bottom: 0px;

            tbody>tr>td {
                border-top: 1px solid #6f7985;
            }
        }

        .react-grid-item > .react-resizable-handle::after {
            border-right: 2px solid #6f7985 !important;
            border-bottom: 2px solid #6f7985 !important;
        }
    }

    .DateRangePicker_picker {
        background-color: $backgroundColor !important;
        border: 1px solid $borderColor !important;
    }
    .CalendarMonthGrid,
    .DayPicker__horizontal,
    .DayPicker_focusRegion .DayPicker_focusRegion_1,
    .DayPicker_transitionContainer .DayPicker_transitionContainer_1 .DayPicker_transitionContainer__horizontal .DayPicker_transitionContainer__horizontal_2,
    .CalendarMonthGrid .CalendarMonthGrid_1 .CalendarMonthGrid__horizontal .CalendarMonthGrid__horizontal_2 {
        background: $backgroundColor !important;
    }
    .CalendarMonth,
    .CalendarDay,
    .DayPickerKeyboardShortcuts_panel,
    .DayPickerNavigation_button__default {
        color: $textColor !important;
        border-color: $borderColor !important;
        background: $backgroundColor !important;
        background-color: $backgroundColor !important;
    }
    .CalendarMonth_caption,
    .DayPicker_weekHeader_li {
        color: $textColor !important;
    }
    .DayPickerKeyboardShortcuts_showSpan__bottomRight {
        background: #00a699 !important;
    }
    .DateInput_fangStroke {
        stroke: $borderColor !important;
        fill: $backgroundColor !important;
    }
    .CalendarDay__blocked_out_of_range, .CalendarDay__blocked_out_of_range:active, .CalendarDay__blocked_out_of_range:hover {
        color: #676768 !important;
    }
    .CalendarDay__default:hover {
        background: $hoverColor !important;
    }
    .CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
        background: #00a699 !important;
        border: 1px double #00a699 !important;
    }
    .CalendarDay__selected_span {
        background: #66e2da !important;
        border: 1px double #33dacd !important;
        color: #fff !important;
    }
    .CalendarDay__selected_span:hover {
        background: #33dacd !important;
        border: 1px double #33dacd !important;
        color: #fff !important;
    }
    .CalendarDay__hovered_span,
    .CalendarDay__hovered_span:active,
    .CalendarDay__hovered_span:hover {
        background: #80e8e0 !important;
        border: 1px double #80e8e0 !important;
        color: #007a87 !important;
    }
}