@import '../../../../../../../node_modules/react-resizable/css/styles.css';
@import '../../../../../../../node_modules/react-grid-layout/css/styles.css';

.search-doc {
    .MyDragHandleClassName {
        cursor: move;
    }
    div.react-grid-layout > div:nth-child(1) {
        z-index: 10;
    }
    .search-doc-child {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background: #FFF;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
        padding: 20px;
        border: 1px solid #ccc;

        .search-doc-buttons {
            .btn-group {
                justify-content: center;
                display: flex;
            }
            button {
                border-radius: 4px !important;
                margin-right: 10px; 
            }
            button:last-child {
                margin-right: 0 !important;
            }
        }
    }
    #search-type-select {
        position: absolute;
        top: 10px;
        right: 20px;
        width: 300px;
    }
    .search-doc-child-buttons {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-top: 10px;

        .sdcbtn-Input{
            margin-left: 10px; 
            width: calc(20% - 10px);
        }
    }

    .DA-Search-Type {
        .DateInput_input__readOnly {
            height: 34px;
            font-size: 12px;
        }
        .DateRangePickerInput__withBorder{
            display: inline-flex;
            border-radius: 3px;
        }
        .DateRangePickerInput_arrow {
            padding-top: 4px; 
        }
        .DateInput{
            width: auto !important;
        }
    }

    .DA-ST-Filters {
        width: 25%;
        padding-right: 10px;
    }

    div.DA-Search-Type > div:last-child {
        padding-right: 0 !important;
    }
}

$textColor: #c8ced3;
$headerColor: #FFC105;
$backgroundColor:#2e2e2e;
$borderColor: #6f7985;
$hoverColor: #3a4149;

.gray {
    .search-doc-child {
        border: 1px solid #6f7985;
        background:$backgroundColor !important;
    }
    .search-doc-child-header {
        color: #FFC105 !important;
    }
    .react-grid-item > .react-resizable-handle::after {
        border-right: 2px solid #6f7985 !important;
        border-bottom: 2px solid #6f7985 !important;
    }
    #search-type-select {
        .Select-control {
            background:$backgroundColor !important;
            background-color: $backgroundColor !important;
            border-color: #6f7985 !important;
            color: $textColor !important;
            outline: none !important;
            box-shadow: none !important;
        }
        .Select-value-label {
            color: $textColor !important;
        }
        .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
            color:$textColor !important;
        }
        .Select-control {
            border: 1px solid #3a4149 !important;
        }
        .Select-placeholder {
            border-bottom: 1px solid #3a4149 !important;
        }
        .Select-menu-outer {
            border-color: #6f7985 !important;
            background:$backgroundColor !important;
            background-color: $backgroundColor !important;
            .Select-option, .VirtualizedSelectOption {
                &:hover {
                    background-color: #3a4149 !important;
                }
            }
        }
    }

    input {
        background:$backgroundColor !important;
        background-color: $backgroundColor !important;
        border-color: #6f7985 !important;
        color: $textColor !important;
    }
    .DateRangePickerInput__withBorder {
        border: 1px solid $borderColor;
    }
    .DateInput_input__readOnly {
        border-bottom: none;
    }

    .DateRangePicker_picker {
        background-color: $backgroundColor !important;
        border: 1px solid $borderColor !important;
    }
    .CalendarMonthGrid,
    .DayPicker__horizontal,
    .DayPicker_focusRegion .DayPicker_focusRegion_1,
    .DayPicker_transitionContainer .DayPicker_transitionContainer_1 .DayPicker_transitionContainer__horizontal .DayPicker_transitionContainer__horizontal_2,
    .CalendarMonthGrid .CalendarMonthGrid_1 .CalendarMonthGrid__horizontal .CalendarMonthGrid__horizontal_2 {
        background: $backgroundColor !important;
    }
    .CalendarMonth,
    .CalendarDay,
    .DayPickerKeyboardShortcuts_panel,
    .DayPickerNavigation_button__default {
        color: $textColor !important;
        border-color: $borderColor !important;
        background: $backgroundColor !important;
        background-color: $backgroundColor !important;
    }
    .CalendarMonth_caption,
    .DayPicker_weekHeader_li {
        color: $textColor !important;
    }
    .DayPickerKeyboardShortcuts_showSpan__bottomRight {
        background: #00a699 !important;
    }
    .DateInput_fangStroke {
        stroke: $borderColor !important;
        fill: $backgroundColor !important;
    }
    .DateRangePickerInput_arrow {
        background-color: $backgroundColor !important;
    }
    .DateRangePickerInput_arrow_svg {
        fill: $textColor !important;
    }
    .CalendarDay__blocked_out_of_range, .CalendarDay__blocked_out_of_range:active, .CalendarDay__blocked_out_of_range:hover {
        color: #676768 !important;
    }
    .CalendarDay__default:hover {
        background: $hoverColor !important;
    }
    .CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
        background: #00a699 !important;
        border: 1px double #00a699 !important;
    }
    .CalendarDay__selected_span {
        background: #66e2da !important;
        border: 1px double #33dacd !important;
        color: #fff !important;
    }
    .CalendarDay__selected_span:hover {
        background: #33dacd !important;
        border: 1px double #33dacd !important;
        color: #fff !important;
    }
    .CalendarDay__hovered_span,
    .CalendarDay__hovered_span:active,
    .CalendarDay__hovered_span:hover {
        background: #80e8e0 !important;
        border: 1px double #80e8e0 !important;
        color: #007a87 !important;
    }
}