#ACEGrid{
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	.Cell {
		font-size: 13px;
		padding: 0 5px;
		border-bottom: 1px solid #eee;
		border-right: 1px solid #eee;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		white-space: nowrap;
		text-overflow: ellipsis;
    	overflow: hidden;
	}
}
