@import '../../../../../../../node_modules/react-resizable/css/styles.css';
@import '../../../../../../../node_modules/react-grid-layout/css/styles.css';

.search-doc {
    .search-doc-child {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background: #FFF;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
        padding: 20px;
        border: 1px solid #ccc;

        .search-doc-buttons {
            .btn-group {
                justify-content: center;
                display: flex;
            }
            button {
                border-radius: 4px !important;
                margin-right: 10px; 
            }
            button:last-child {
                margin-right: 0 !important;
            }
        }
    }
    #search-type-select {
        position: absolute;
        top: 10px;
        right: 20px;
        width: 300px;
    }
}

$textColor: #c8ced3;
$headerColor: #FFC105;
$backgroundColor:#2e2e2e;

.gray {
    .search-doc-child {
        border: 1px solid #6f7985;
        background:$backgroundColor !important;
    }
    .search-doc-child-header {
        color: #FFC105 !important;
    }
    .react-grid-item > .react-resizable-handle::after {
        border-right: 2px solid #6f7985 !important;
        border-bottom: 2px solid #6f7985 !important;
    }
    #search-type-select {
        .Select-control {
            background:$backgroundColor !important;
            background-color: $backgroundColor !important;
            border-color: #6f7985 !important;
            color: $textColor !important;
            outline: none !important;
            box-shadow: none !important;
        }
        .Select-value-label {
            color: $textColor !important;
        }
        .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
            color:$textColor !important;
        }
        .Select-control {
            border: 1px solid #3a4149 !important;
        }
        .Select-placeholder {
            border-bottom: 1px solid #3a4149 !important;
        }
        .Select-menu-outer {
            border-color: #6f7985 !important;
            background:$backgroundColor !important;
            background-color: $backgroundColor !important;
            .Select-option, .VirtualizedSelectOption {
                &:hover {
                    background-color: #3a4149 !important;
                }
            }
        }
    }
}