@import '../../../../../../../node_modules/react-resizable/css/styles.css';
@import '../../../../../../../node_modules/react-grid-layout/css/styles.css';

.new-document {
    #new-document-Pulse-Loader {
        position: relative;
        margin-left: calc(50% - 25px);
    }

    .new-document-child {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background: #FFF;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
        padding: 20px;
        border: 1px solid #ccc;
    }

    .new-document-child{
        .btn-group {
            justify-content: center;
            display: flex;
        }
    }

    #new-document-header {
        display: flex;
    }

    .DA-New {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .DA-New-Input{
        width: calc(25% - 10px);
    }

    .status {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .status-index {
        font-size: 1.5em;
        display: flex;            
    }

    #ULC-toggle{
        position: absolute;
        top: 10px;
        right: 20px;
        
        button {
            outline: none !important;
            box-shadow: none !important;
        }

        & .active {
            background-color: #20a8d8;
            border-color: #20a8d8;
        }
    }

    #ULC-Hour-select{
        position: absolute;
        top: 10px;
        right: 200px;
        width: 200px;
    }
}

$textColor: #c8ced3;
$headerColor: #FFC105;
$backgroundColor:#2e2e2e;

.gray {
    .DA-New-Input{
        input {
            background:$backgroundColor !important;
            background-color: $backgroundColor !important;
            border-color: #6f7985 !important;
            color: $textColor !important;
        }
    }

    #new-document-header {
        color: #FFC105 !important;
    }

    .new-document {
        background:$backgroundColor !important;
        background-color: $backgroundColor !important;
        border-color: #6f7985 !important;
        color: $textColor !important;
        
    
        .new-document-child {
            border: 1px solid #6f7985;
            background:$backgroundColor !important;
        }

        .react-grid-item > .react-resizable-handle::after {
            border-right: 2px solid #6f7985 !important;
            border-bottom: 2px solid #6f7985 !important;
        }

        canvas {
            box-shadow: 0px 1px 3px 0px $textColor, 0px 1px 1px 0px $textColor, 0px 2px 1px -1px $textColor !important;
        }
    }
    hr {
        background: #6f7985 !important;
    }
    #ULC-Hour-select{
        .Select-control {
            background:$backgroundColor !important;
            background-color: $backgroundColor !important;
            border-color: #6f7985 !important;
            color: $textColor !important;
            outline: none !important;
            box-shadow: none !important;
        }
        .Select-value-label{
            color: $textColor !important;
        }
        .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
            color:$textColor !important;
        }
        .Select-control {
            border: 1px solid #3a4149 !important;
        }
        .Select-placeholder {
            border-bottom: 1px solid #3a4149 !important;
        }
        .Select-menu-outer {
            border-color: #6f7985 !important;
            background:$backgroundColor !important;
            background-color: $backgroundColor !important;
            .Select-option, .VirtualizedSelectOption {
                &:hover {
                    background-color: #3a4149 !important;
                }
            }
        }
    }
    
    #ULC-toggle {

        button {
            color: $textColor !important;
            background-color: transparent !important;
            background-image: none !important;
            border-color: #6f7985 !important;
        }

        & .active {
            background-color: #3a4149 !important;
        }
    }
}

.DA-New-Document{
    .DA-New-Row {
        margin: 0 auto !important;
        width: 600px; 
    }
}

.DA-New-Buttons{
    button {
        border-radius: 4px !important;
        margin-right: 10px; 
    }
    button:last-child {
        margin-right: 0 !important;
    }
}