$headerBackground: #3a4149;
$textColor: #c8ced3;
$headerColor: #FFC105;
$backgroundColor:#2e2e2e;
$borderColor:#6f7985;
$hoverColor: #3a4149;


.Brand-Modal {
    max-width: 1000px;
    min-width: 1000px;

    .DA-New-Brand {
        display: flex;
    }
    .DA-New-Brand-Input {
        width: 20%;
        margin-right: 10px;
    }
    .DA-New-Brand-Input:last-child {
        margin-right: 0 !important;
    }
}

.modal-body {
    .react-grid-custom-child {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background: #FFF;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
        padding: 20px;
        border: 1px solid #ccc;
    }
}

#BrandSearchGrid{
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    width: 905px;
    .cell-header{
        border-bottom: 2px solid #aaa;
        background-color: #f7f7f7;
        font-weight: bold;
		font-size: 13px;
		padding: 0 5px;
		border-right: 1px solid #eee;
		display: flex;
		align-items: center;
		justify-content: center;
		white-space: nowrap;
		text-overflow: ellipsis;
    	overflow: hidden;
    }
	.cell-body {
		font-size: 13px;
		padding: 0 5px;
		border-bottom: 1px solid #eee;
		border-right: 1px solid #eee;
		display: flex;
		align-items: center;
		justify-content: center;
		white-space: nowrap;
		text-overflow: ellipsis;
    	overflow: hidden;
    }
}
.modal-footer > button {
    font-size: 12px;
}

.gray {
    .MyDragHandleClassName {
        color: $headerColor !important;
    }
    #BrandSearchGrid {
        box-shadow: 0px 1px 3px 0px #c8ced3, 0px 1px 1px 0px #c8ced3, 0px 2px 1px -1px #c8ced3 !important;

        .cell-header{
            color: #c8ced3 !important;
            border-color: #6f7985 !important;
            background: #3a4149 !important;
        }
        .cell-body {
            border-bottom: 1px solid #6f7985;
            border-right: 1px solid #6f7985;
        }
    }
    .modal-header {
        .modal-title,
        button > span {
            color: $headerColor !important;
        }
    }
    .modal-body {
        .react-grid-custom-child {
            border: 1px solid #6f7985;
            background:$backgroundColor !important;
        }
    }
}