$headerBackground: #3a4149;
$textColor: #c8ced3;
$headerColor: #FFC105;
$backgroundColor:#2e2e2e;
$borderColor:#6f7985;
$hoverColor: #3a4149;


.ReactVirtualized__Grid {
    outline: none;
}
textarea.form-control {
    font-size: 12px !important;
}
div.modal-header > button > span {
    font-size: 2.5rem;
}

.selectedItemsNumber {
    display: none !important;
}

.gray {
    background:#2e2e2e!important;
    color:$textColor !important;
    border-color: #6f7985 !important;

    .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
        color:$textColor !important;
    }
    .Select-control {
        background: $backgroundColor !important;
        border: 1px solid $borderColor !important;
    }
    .Select-placeholder {
        border-bottom: 1px solid #3a4149 !important;
    }
    .Select-menu-outer {
        border-color: #6f7985 !important;
        .Select-option, .VirtualizedSelectOption {
            &:hover {
                background-color: #3a4149 !important;
            }
        }
    }
    .Select-arrow {
        border-color: $textColor transparent transparent !important;
        border-style: solid;
        border-width: 5px 5px 2.5px;
        display: inline-block;
        height: 0;
        width: 0;
        position: relative;
    }
    .Select.is-open > .Select-control .Select-arrow {
        top: -2px;
        border-color: transparent transparent $textColor !important;
        border-width: 0 5px 5px;
    }
    .Select.is-open > .Select-arrow, .Select .Select-arrow-zone:hover > .Select-arrow {
        border-top-color: $textColor !important;
    }
    .filters .checkbox-filter .checkbox-val label input:hover ~ span,
    .filters .checkbox-filter .checkbox-val label input:checked ~ span {
        background-color: #3a4149 !important;
    }
    .filters .checkbox-filter.show-menu,
    .filters .checkbox-filter .checkbox-val label input {
        border: 1px solid $borderColor !important;
        background-color: $backgroundColor !important;
    }
    .breadcrumb,.nav{ //.userNameContainer,
        background:#3a4149 !important;
        color:$textColor !important;
        border-color: #23282c !important;
    }
    &.app-body{
        background-color: #2e2e2e !important;
    }
    &.app-header.navbar {
        border-radius: 0;
        & .navbar-brand {
            background-color: #2e2e2e !important;
            opacity: .6;
        }
    }
    .nav,footer .app-footer{
        border-right: 1px solid #23282c !important;
        background: #3a4149 !important;
    }
    .sidebar .sidebar-minimizer {//.dropdown
        background-color:#3a4149 !important;
       // opacity: 0.21;
    }
    strong,
    .preferences {
        .dropdown-content,.online_user_outer,
        .dropdown-header,.dropdown-item,
        .dropdown-content a{
            background:#3a4149!important;
            color:$textColor !important;
            border-color: #23282c !important;
        }
        .dropdown-content, .dropdown-header {
            border-color: $borderColor !important;
            border-top: 1px solid;
        }
        .dropdown-content > div:nth-child(n+2):nth-child(-n+2) {
            // background: $backgroundColor !important;
            border-color: $borderColor !important;
        }
    }
    div {
        &.dropdown-content, &.dropdown-header, &.online_user_outer {
            background:$headerBackground!important;
            color: $textColor !important;
            & div, & a, & strong, & button {
                background:$headerBackground!important;
                color: $textColor !important;
            }
        }
    }
    
    // nav:first-of-type + .sidebar-minimizer{
    //     background:#2e2e2e;
    //     color:$textColor;
    //     border-color: #000;
    // }
    .preferences .dropdown .style-icon {
        color:$textColor !important;
    }
    .themeStyles,
    .userNameContainer,
    .nav,
    .sidebar .sidebar-minimizer,
    .preferences .dropdown .style-icon,
    .dps-nav-sub-title,
    .dps-nav-title,
    .sidebar .nav-link {
        color: $textColor !important;
    }

    .breadcrumb-item {
        color: $headerColor !important;
    }
    
    .unAuthToolTip {
        background: $headerBackground!important;
        &:before {
            border-right: 10px solid $headerBackground;
        }
        &:after {
            border-right: 10px solid $headerBackground;
        }
    }
    .home-header {
        background:$headerBackground!important;
        color: #536c79 !important;
        border-color: $borderColor !important;
    }


    ::-webkit-scrollbar { width: 12px; height: 12px;}
    ::-webkit-scrollbar-track:vertical {  background-color: #666;}
    ::-webkit-scrollbar-track:horizontal {  background-color: #666;}
    ::-webkit-scrollbar-track-piece:vertical { background-color: #666;}
    ::-webkit-scrollbar-track-piece:horizontal { background-color: #666;}
    ::-webkit-scrollbar-thumb:vertical {height: 50px; background-color: #6f7985; border-radius: 8px;}
    ::-webkit-scrollbar-thumb:horizontal{ background: #6f7985; border-radius: 8px; }
    ::-webkit-scrollbar-corner { background-color: #666;}
    ::-webkit-resizer { background-color: #666;}
    hr {
        background: #6f7985 !important;
    }

    div.modal-header {
        background: $hoverColor !important;
        color: $textColor !important;
        border-color: $borderColor !important;
    }
    .modal-header > button > span {
        background: $hoverColor !important;
    }
    div.modal-title, div.modal-content, button span {
        background: $backgroundColor !important;
        color: $textColor !important;
        border-color: $borderColor !important;
    }
    div.modal-content {
        box-shadow: 0px 1px 3px 0px #c8ced3, 0px 1px 1px 0px #c8ced3, 0px 2px 1px -1px #c8ced3 !important;
    }
    div.modal-footer,
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        border-top-color: $borderColor !important;
    } 
    div.model{
        background: none !important;
    }
    div.modal-backdrop.show {
        opacity: 0.5 !important;
        background-color: rgba(0, 0, 0, 0.4) !important;
    }
    textarea.form-control {
        background: $backgroundColor !important;
        color: $textColor !important;
        border-color: $borderColor !important;
    }
}
.graySF{
    .userNameContainer,
    .breadcrumb,
    .nav,
    .sidebar .sidebar-minimizer,
    .preferences .dropdown .style-icon,
    .dps-nav-sub-title,.dps-nav-title
    {
        font-size: 12px !important;
    }
    .breadcrumb-item,
    .themeStyles{
        font-size: 15px !important;
    }
}
.grayBF{
    .userNameContainer,
    .breadcrumb,
    .nav,
    .sidebar .sidebar-minimizer,
    .preferences .dropdown .style-icon,
    .dps-nav-sub-title,.dps-nav-title
    {
        font-size: 14px !important;
    }
    .breadcrumb-item,
    .themeStyles{
        font-size: 17px !important;
    }
}
.grayNC{
    .userNameContainer,
    .breadcrumb,
    .nav,
    .sidebar .sidebar-minimizer,
    .preferences .dropdown .style-icon,
    .dps-nav-sub-title,
    .dps-nav-title,
    .breadcrumb-item,
    .themeStyles{
        opacity: 0.9 !important;
    }
}

.grayLC{
    .userNameContainer,
    .breadcrumb,
    .nav,
    .sidebar .sidebar-minimizer,
    .preferences .dropdown .style-icon,
    .dps-nav-sub-title,
    .dps-nav-title,
    .breadcrumb-item,
    .themeStyles{
        opacity: 0.8 !important;
    }
}

// white theme
.whiteSF{
    .userNameContainer,
    .breadcrumb,
    .nav,
    .sidebar .sidebar-minimizer,
    .preferences .dropdown .style-icon,
    .dps-nav-sub-title,.dps-nav-title
    {
        font-size: 12px !important;
    }
    .breadcrumb-item,
    .themeStyles{
        font-size: 15px !important;
    }
}
.whiteNF{
    .userNameContainer,
    .breadcrumb,
    .nav,
    .sidebar .sidebar-minimizer,
    .preferences .dropdown .style-icon,
    .dps-nav-sub-title,.dps-nav-title
    {
        font-size: 13px !important;
    }
    .breadcrumb-item,
    .themeStyles{
        font-size: 16px !important;
    }
}
.whiteBF{
    .userNameContainer,
    .breadcrumb,
    .nav,
    .sidebar .sidebar-minimizer,
    .preferences .dropdown .style-icon,
    .dps-nav-sub-title,.dps-nav-title
    {
        font-size: 14px !important;
    }
    .breadcrumb-item,
    .themeStyles{
        font-size: 17px !important;
    }
}
.whiteFC{
    .userNameContainer,
    .breadcrumb,
    .nav,
    .sidebar .sidebar-minimizer,
    .preferences .dropdown .style-icon,
    .dps-nav-sub-title,
    .dps-nav-title,
    .themeStyles{
        opacity: 1 !important;
    }
}
.whiteNC{
    .userNameContainer,
    .breadcrumb,
    .nav,
    .sidebar .sidebar-minimizer,
    .preferences .dropdown .style-icon,
    .dps-nav-sub-title,
    .dps-nav-title,
    .breadcrumb-item,
    .themeStyles{
        opacity: 0.9 !important;
    }
}

.whiteLC{
    .userNameContainer,
    .breadcrumb,
    .nav,
    .sidebar .sidebar-minimizer,
    .preferences .dropdown .style-icon,
    .dps-nav-sub-title,.dps-nav-title,
    .breadcrumb-item,
    .themeStyles{
        opacity: 0.8 !important;
    }
}
