
$app-color: #20a8d8;
.app-header {
    & .onlineUsers {
        font-size: 1.2rem;
    }
    & .dropdown-item {
        & .fa_user_size {
            font-size: 1.5rem;
            position: relative;
            margin-right: 12px;
        }
    }
    & .user_count {
        font-size: 1rem;
        font-family: initial;
        position: absolute;
        color: black;
        box-sizing: border-box;
        top: -5px;
        right: -4px;
        padding: 1px 2px;
        border: 1px solid green;
        border-radius: 45%;
    }
    & .Badge_icon_width {
        &.opcToolTip_outer {
            top: 2px;
           & span {
                background: rgb(0, 87, 128) !important;
                color: white !important;
                top: -1px !important;
                font-size: 1.3rem;
                max-height: 17px;
                min-width: 17px;
                padding: 0;
                border: none;
            }
        }
    }
    & .displayOnlineUsers {
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        &:focus {
            outline: none;
        }
    }
    & .dropdown-menu {
        border-radius: 0;
    }
    & .dropdown  {
        &:focus {
            outline: none;
        }
    }
    & .dropdown-header {
        & strong {
            font-size: 1.2rem;
            color: black;
        }
    }
    & .dropdown-item {
        font-size: 1.1rem;
        padding: 9px 35px 9px 20px;
        & i {
            margin-right: 0px;
        }
    }
    & .users_dot_circle {
        position: absolute;
        display: block;
        right: 17px;
        top: 17px;
        width: 5px;
        height: 5px;
        color: green;
        border-radius: 50%;
        box-shadow: inset 0px 0px 20px green;
    }
    & .online_user_outer {
        max-height: 221px;
        overflow: auto;
    }
    & .user_online_dropdownmenu {
        transform: translate3d(0px, 38px, 0px)!important;
        top: -5px!important;
        right: 5px;
        left: unset!important;
    }
}
.app-header.navbar .navbar-nav {
    flex-direction: row;
    align-items: center;
    padding-right: 27px;
    // color: #20a8d8;
    font-size: 28px;
}
.userNameContainer {
    // background: white;
    color: #29363d;
    padding: 2px 10px;
    font-size: 14px;
    // box-shadow: 1px 1px 2px #29363d;
    // border-radius: 4px;
    & i {
        margin-right: 5px;
        color: $app-color;
    }
}
