.DA-DepartmentLevelAccess {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
}
.DA-DLA{

    .DA-DLA-New {
        .DateInput_input__readOnly {
            height: 34px;
        }
        .DateRangePickerInput__withBorder{
            display: inline-flex;
            border-radius: 5px;
        }
        .DateRangePickerInput_arrow {
            padding-top: 4px; 
        }
        .DateInput{
            width: auto !important;
        }
    }

    .DA-DLA-Filters {
        width: 25%;
        padding-right: 10px;
    }

    div.DA-DLA-New > div:last-child {
        padding-right: 0 !important;
    }

    .DA-DLA-Results > table {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
        border-radius: 10px;
        
        // tr:hover {
        //     box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
        //     z-index: 1;
        // }
        tr>td, tr>th {
            padding: 10px 20px;
            text-align: center;
        }
    }
}

.DA-DLA {
    .DA-DLA-child {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background: #FFF;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
        padding: 20px;
        border: 1px solid #ccc;
    }
}

$textColor: #c8ced3;
$headerColor: #FFC105;
$backgroundColor:#2e2e2e;

.gray {

    .DA-DLA {
        background:$backgroundColor !important;
        background-color: $backgroundColor !important;
        border-color: #6f7985 !important;
        color: $textColor !important;
    
        .DA-DLA-child {
            border: 1px solid #6f7985;
            background:$backgroundColor !important;
        }
        .dla-child-header {
            color: #FFC105 !important;
        }

        .DA-DLA-Results > table {
            margin-bottom: 0px;

            tbody>tr>td {
                border-top: 1px solid #6f7985;
            }
        }

        .react-grid-item > .react-resizable-handle::after {
            border-right: 2px solid #6f7985 !important;
            border-bottom: 2px solid #6f7985 !important;
        }
    }
}