.home-page-content {
    height: calc(100vh - 360px);
    min-height: 400px;
}

.home-header {
    padding: 0.75rem 1rem;
    margin-top: -45px;
    background: #f0f3f5;
    position: relative;
    border-bottom: 1px solid #c2cfd6;
}

.comingSoonImgHome{
    width: 100%;    
    height: calc(100vh - 396px);
    min-height: 364px;
}

.browsing-history {
    margin-top: 10px;
    overflow-x: auto;
}

.browsing-history-header {
	padding: 0.75rem 1rem;
	background: #f0f3f5;
	position: relative;
    border-top: 1px solid #c2cfd6;
    border-bottom: 1px solid #c2cfd6;
}

.browsing-history-content {
    padding: 10px 0 0px 10px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  

.browsing-history .card{
    width: calc(25% - 10px);
    min-width: 300px;
    flex-wrap: wrap;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.browsing-history .card-header{
	display: flex;
    justify-content: space-between;
}

.home-page-button {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 6px 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    cursor: pointer;
}

.home-page-button:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.card{
    min-width: 300px;
}

.carousel-inner .card {
    margin: 5px 10px 5px 0;
}

.carousel-inner .card:first-child {
    margin-left: 10px;
}

.carousel-control-prev, .carousel-control-next {
    width: 45px;
}

.carousel-control-prev {
    left: calc(50% - 35px);
}

.carousel-control-next {
    right: calc(50% - 35px);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #20a8d8;
    position: absolute;
    top: -28px;
}

ol.carousel-indicators {
    margin-bottom: 0;
    width: 70%;
}

.carousel-indicators li {
    height: 1.25rem;
    width: 1.25rem;
    max-width: 1.25rem;
    background-color: #20a8d8;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: -1.88rem;
    box-sizing: content-box;
    flex: 0 1 auto;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transition: opacity .6s ease;
    opacity: 0.5;
}

.carousel-indicators .active {
    height: 1.56rem;
    width: 1.56rem;
    max-width: 1.56rem;
    background-color: #20a8d8;
    border-radius: 50%;
    opacity: 1;
}

.modal-title {
    flex: auto;
}

.modal-header {
    background-color: #f0f3f5 !important;
    background-image: linear-gradient(to bottom, #f0f3f5 0, #f0f3f5 100%) !important;
    color: #151b1e !important;
    border-radius: 6px;
}

.modal-header .close {
    color: #151b1e;    
}
